/* #0074e9  ㅈ팡 블루컬러, #e72223d */





h1 {text-align: center; margin: 50px auto 10px;} /* 상 좌우 하 */
h1 a {}
h1 a img {width:200px;}
main {width:500px; background-color: aqua; margin: 0 auto;}
main #loginfrm {border-bottom: 1px solid #ccc; margin-bottom: 20px; padding-bottom: 20px;}
main #loginfrm fieldset {}
main #loginfrm fieldset ul {}
main #loginfrm fieldset ul li {
  border: 1px solid #ccc; background: #fff;
  display: flex; flex-flow: row nowrap;
}
main #loginfrm fieldset ul.error {
  color:#e7223d; padding: 10px;display: none;
}
main #loginfrm fieldset .id_error {}
main #loginfrm fieldset .pw_error {}
main #loginfrm fieldset ul li span {  }
main #loginfrm fieldset ul li .id_bg {
  border-right: 1px solid #ccc;
  padding:20px; width:50px;

}
main #loginfrm fieldset ul li .psw_bg {}
main #loginfrm fieldset ul li span input {}
main #loginfrm fieldset ul li span input[type=text] {}
main #loginfrm fieldset ul li span input[type=password] {}
main #loginfrm fieldset ul li .pw_show_hide {}

main #loginfrm fieldset .btm {
  display:flex; flex-flow: row nowrap;
  padding: 15px 0; justify-content: space-between;
}
main #loginfrm fieldset .btm p {}
main #loginfrm fieldset .btm p label {display: flex; align-items:center;}
main #loginfrm fieldset .btm p label  input[name=login_y] {appearance: none}
main #loginfrm fieldset .btm p label  input[name=login_y] + span::before {
  background-color: #fff;
  border: 1px solid #ccc;
  content:''; display: inline-block;
  width:17px; height:17px;
  background-image: url(../images/img/coupang/icon.svg);
  background-position: -65px -22px;
  margin-right: 5px;
}

main #loginfrm fieldset .btm p label  input[name=login_y]:checked + span::before {
  
  background-position: -84px -21px;
}
main #loginfrm fieldset .btm p label  span {}
main #loginfrm fieldset .btm .idpw_search {color: #00478f;}
main #loginfrm fieldset .btm .idpw_search::after {
  content: ''; display: inline-block;
  width: 7px;height: 15px;
  background-image: url(../images/img/coupang/icon.svg);
  background-position: -104px -21px;
  margin-left: 5px;

}

main #loginfrm fieldset #login_btn {
  background:  #0074e9;
  width: 100%; color: #fff; padding: 20px 0;
  box-shadow: 0 2px 0 #0b64bd;
}

main .join_link {
  border:1px solid #CCC; color:  #0074e9; padding: 20px 0;
  display: block; text-align: center; background-color: #fff;
  box-shadow: 0 2px 0 #eee;
}
footer {color: #333; text-align: center; font-size: 0.85rem; margin-top: 30px;}




