@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
* {box-sizing: border-box;}
html, body, h1, h2, h3, h4,  a, img, div, form, legend, label, span, p, footer,
header, nav, article, aside, section, address,del, em, strong,sub,sub, dl,
dt, dd,
ul, ol, li, button, main, table, fieldset, input, select {
  margin:0; padding:0;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: normal; font-style: normal;
  font-size: 1.0rem; line-height: 1.0; letter-spacing:0em;
}
table, tr, td, th {border-collapse: collapse;}
ul, ol, li {list-style: none;}
a {text-decoration: none; color: #000;}
textarea {resize:none; border:0;}
fieldset {border:0;}
.skip {display:none;}